In [10]:
import pandas as pd
import numpy as np
import random
from sklearn.cluster import KMeans

In [34]:
distance = {k: random.random() for k in range(10)}

In [35]:
matrix = {k: [] for k in distance.keys()}
for k1, v1 in distance.items():
    for k2, v2 in distance.items():
        matrix[k2].append(v1-v2)

In [36]:
df = pd.DataFrame(matrix)
df.head(10)

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.255940,0.471152,0.879000,0.791338,0.089558,0.277947,0.551261,0.626697,0.315353
1,-0.255940,0.000000,0.215212,0.623060,0.535398,-0.166382,0.022006,0.295321,0.370756,0.059412
2,-0.471152,-0.215212,0.000000,0.407848,0.320186,-0.381594,-0.193205,0.080109,0.155545,-0.155800
3,-0.879000,-0.623060,-0.407848,0.000000,-0.087662,-0.789442,-0.601053,-0.327739,-0.252303,-0.563647
4,-0.791338,-0.535398,-0.320186,0.087662,0.000000,-0.701780,-0.513391,-0.240077,-0.164641,-0.475986
5,-0.089558,0.166382,0.381594,0.789442,0.701780,0.000000,0.188389,0.461703,0.537139,0.225794
6,-0.277947,-0.022006,0.193205,0.601053,0.513391,-0.188389,0.000000,0.273314,0.348750,0.037406
7,-0.551261,-0.295321,-0.080109,0.327739,0.240077,-0.461703,-0.273314,0.000000,0.075436,-0.235909
8,-0.626697,-0.370756,-0.155545,0.252303,0.164641,-0.537139,-0.348750,-0.075436,0.000000,-0.311344
9,-0.315353,-0.059412,0.155800,0.563647,0.475986,-0.225794,-0.037406,0.235909,0.311344,0.000000

In [39]:
clusters = KMeans(n_clusters=3, random_state=0).fit_predict(df.values)

In [41]:
set(clusters)

{0, 1, 2}

In [33]:
df.values[0]

array([ 0.00000000e+00, -5.06606887e-02,  2.78685333e-01,  5.57824703e-01,
        4.01687064e-01,  3.90021916e-02,  2.84328316e-01, -1.72198261e-01,
        1.51204466e-01, -2.14898429e-01,  5.56682605e-02,  1.07457565e-01,
        5.35778589e-01,  1.62628198e-01,  3.23796736e-01, -1.43437776e-01,
       -1.10969525e-01,  3.64850592e-01,  7.42719930e-01,  3.69168288e-01,
        1.60461647e-01, -1.74712815e-03,  4.90042478e-01,  6.61221121e-01,
        8.07767094e-02, -1.67990845e-01,  4.15065521e-01, -8.85808532e-02,
        2.09284290e-01,  2.60497810e-01, -3.10987096e-02, -9.52294786e-02,
        1.48320887e-01,  2.15290322e-01, -1.29484037e-01, -1.98149704e-01,
        6.31523764e-01,  4.42261259e-01,  4.64052232e-01, -1.19402423e-01,
        6.52106261e-01, -1.10266332e-01,  4.77403394e-01, -1.49695584e-01,
       -1.45947179e-01,  1.80122745e-01,  2.46121890e-01,  2.31965890e-01,
        1.67923324e-01,  2.92365420e-01,  3.79242203e-01,  4.51122462e-03,
       -1.28534912e-01,  7.13993179e-01,  4.40893155e-01,  4.85692653e-01,
       -1.75830365e-01,  6.62040245e-01, -2.01202045e-01,  6.71120110e-01,
        2.61036417e-01, -9.24709133e-02,  7.07072066e-01,  6.49917479e-01,
       -2.25262010e-01,  6.14949668e-01, -1.38217301e-01,  6.43219509e-01,
        5.10810535e-01, -1.37731438e-01, -1.97218424e-01,  4.08288815e-01,
        5.86625555e-01,  6.48828383e-01,  1.04986943e-01,  3.47820170e-01,
       -5.02552998e-02, -1.64359133e-01,  3.89414883e-01,  2.95287124e-01,
       -2.10024867e-01,  7.08492814e-01,  2.47125674e-01, -9.69273020e-02,
       -5.99889265e-02,  5.20379947e-01,  6.43842961e-01,  3.52133645e-01,
        2.96265540e-01, -2.14080264e-01, -1.54017524e-01,  2.55452210e-01,
        6.97219908e-01,  5.74163354e-01,  2.71447672e-01, -8.78438528e-02,
        1.00483170e-01,  2.84417527e-01,  5.80975781e-01,  6.54403087e-01,
        1.08727200e-01, -9.03355359e-02,  4.07285111e-01, -2.30953381e-01,
        2.32684787e-01,  5.60685207e-01,  7.27860761e-01,  5.50293235e-01,
        2.33708242e-01,  2.76999158e-01,  6.14740630e-01,  4.54626493e-01,
        1.85507141e-01,  5.12201458e-01,  7.26820371e-01,  2.62828077e-01,
       -6.27596124e-02,  5.83537034e-02,  4.97749328e-01,  1.35566450e-01,
        1.03953971e-01,  2.08914005e-01,  4.47114644e-01, -2.17799571e-01,
        4.75633745e-01,  4.40474382e-01, -2.50209027e-01,  2.08293863e-01,
        6.88827863e-01,  2.07696002e-01,  4.52612895e-01, -1.19291735e-01,
        7.52058136e-02, -4.37578142e-02,  5.81821013e-01,  1.96153810e-01,
        5.24585720e-01,  3.20376610e-04,  1.78649577e-01,  4.09071768e-01,
       -2.30606557e-02,  2.57754862e-01,  5.99287226e-01,  5.99948259e-01,
        7.44953065e-01, -2.43943864e-01,  4.81333019e-02, -6.75914135e-02,
       -1.54255606e-01,  1.52975857e-01])

In [58]:
np.array(probs) / np.sum(probs)

array([0.75, 0.25])

In [61]:
np.sum(list(d.keys()))

6

In [6]:

n = np.array([1] * 10) / 10
n.tolist()

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [70]:
p = np.array([1,2,3,5])
p = p / 5
p

array([0.2, 0.4, 0.6, 1. ])

In [78]:
n = np.array(list(d.values()))
n

array(['a', 'b', 'c'], dtype='<U1')

In [86]:
np.array(list(d.keys())) / np.sum(list(d.keys()))

array([0.16666667, 0.33333333, 0.5       ])

In [76]:
list(d.keys())

[1, 2, 3]

In [88]:
d = {1:2.5,2:3.6,3:4.7}
np.array(list(d.values())) / np.sum(list(d.values()))

array([0.23148148, 0.33333333, 0.43518519])

In [97]:
import random
import math
def probabilistic_round(value):
    integer_part = math.floor(value)
    fractional_part = value - integer_part
    return integer_part + 1.0 if random.random() < fractional_part else integer_part + 0.0

In [4]:
from itertools import count

In [9]:
cntr = count(0)

In [10]:
for _ in range(5):
    print(next(cntr))

0
1
2
3
4

In [16]:
def roll_over_d(d):
    for x, y in d.items():
        print(x, y)
        
d = {1:'a', 2:'b', 3:'c', 4:'d'}
for i, (x, y) in enumerate(d.items()):
    print(i, x, y)

0 1 a
1 2 b
2 3 c
3 4 d

In [1]:
import random
import numpy as np

In [9]:
c1_set, c2_set = {1: 'a', 2: 'b', 3: 'c'}, {1: 'd', 6: 'e', 2: 'f', 7: 'g'}

In [57]:
l1 = [1,2,4,5,6,8,10,11,13,14]

In [64]:
l2 = [1,3,4,5,7,9,10,12,15,16]

In [65]:
if len(l1) < len(l2):
    l1.extend([-1] * (max(len(l1), len(l2)) - min(len(l1), len(l2))))
else:
    l2.extend([-1] * (max(len(l1), len(l2)) - min(len(l1), len(l2))))

In [66]:
l1

[1, 2, 4, 5, 6, 8, 10, 11, 13, 14]

In [67]:
l2

[1, 3, 4, 5, 7, 9, 10, 12, 15, 16]

In [68]:
pairs = []
for x, y in zip(l1, l2):
    if x == -1 or y == -1:
        pairs.append((x, y))
        continue
        
    if x == y:
        pairs.append((x, y))
    else:
        pairs.append((x, -1))
        pairs.append((-1, y))

In [69]:
pairs

[(1, 1),
 (2, -1),
 (-1, 3),
 (4, 4),
 (5, 5),
 (6, -1),
 (-1, 7),
 (8, -1),
 (-1, 9),
 (10, 10),
 (11, -1),
 (-1, 12),
 (13, -1),
 (-1, 15),
 (14, -1),
 (-1, 16)]

In [72]:
'a' in c1_set

False

In [75]:
def creates_cycle(connections, test):
    i, o = test
    if i == o:
        return True

    visited = {o}
    while True:
        num_added = 0
        for a, b in connections:
            if a in visited and b not in visited:
                print(visited)
                if b == i:
                    return True

                visited.add(b)
                num_added += 1

        if num_added == 0:
            return False

In [81]:
creates_cycle([(1,2), (2,3), (3,4), (3,5), (5,6), (6,7)], (7,2))

{2}
{2, 3}
{2, 3, 4}
{2, 3, 4, 5}
{2, 3, 4, 5, 6}

True

In [83]:
d = []
for i in range(10):
    d[i] = str(i)
d

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9'}

In [86]:
list(d.keys())[:5]

[0, 1, 2, 3, 4]

In [87]:
l = np.array([5,5,5,4])
l = l / np.sum(l)

In [88]:
l

array([0.26315789, 0.26315789, 0.26315789, 0.21052632])

In [89]:
l[0] = 0.0
l

array([0.        , 0.26315789, 0.26315789, 0.21052632])

In [90]:
l = l / np.sum(l)
l

array([0.        , 0.35714286, 0.35714286, 0.28571429])

In [40]:
import numpy as np
import random

In [41]:
l = [1,2,3,4,5]

In [53]:
for x in random.choices(l, k=3):
    print(x)

5
5
3

In [2]:
x = [1,2,3]
x[:0]

[]

In [3]:
sorted(x)

[1, 2, 3]

In [5]:
import random
import numpy as np

In [10]:
members = [1,2,3,4]
p = np.array([1,1,1]) / 3.0
member_parent_1 = np.random.choice(list(c1_set.keys()), 1, p=p)
member_parent_1

array([1])

In [1]:
import numpy as np
import timeit

x = range(1000)
# or 
#x = np.random.standard_normal(1000)

def pure_sum():
    return sum(x)

def numpy_sum():
    return np.sum(x)

n = 10000

t1 = timeit.timeit(pure_sum, number = n)
print('Pure Python Sum:', t1)
t2 = timeit.timeit(numpy_sum, number = n)
print('Numpy Sum:', t2)

Pure Python Sum: 0.1532475647415019
Numpy Sum: 1.1720797273597179

In [19]:
node_ids = {'all': set([1,2,3,4,5]), 'input': set([1,2]), 'hidden': set([3,4]), 'output': set([5])}
node_ids

{'all': {1, 2, 3, 4, 5}, 'hidden': {3, 4}, 'input': {1, 2}, 'output': {5}}

In [23]:
possible_connections = set()

In [33]:
for source_id in node_ids['input']:
    for target_id in node_ids['hidden']:
        possible_connections.add((source_id, target_id))
    for target_id in node_ids['output']:
        possible_connections.add((source_id, target_id))
        
for source_id in node_ids['hidden']:    
    for target_id in node_ids['hidden']:   
        possible_connections.add((source_id, target_id))
    for target_id in node_ids['output']:
        possible_connections.add((source_id, target_id))
          
possible_connections

{(1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 3),
 (4, 4),
 (4, 5)}

In [34]:
new_hidden_id = 6
node_ids['hidden'].add(6)
node_ids

{'all': {1, 2, 3, 4, 5}, 'hidden': {3, 4, 6}, 'input': {1, 2}, 'output': {5}}

In [37]:
for source_id in node_ids['input']:
    possible_connections.add((source_id, new_hidden_id))
for source_id in node_ids['hidden']:    
    for target_id in node_ids['hidden']:   
        possible_connections.add((source_id, target_id))
for target_id in node_ids['output']:
        possible_connections.add((new_hidden_id, target_id))
        
possible_connections

{(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [38]:
connections = set([(1,3),(1,4),(1,5),(1,6),(6,3),(6,4),(6,5),(6,6)])
connections

{(1, 3), (1, 4), (1, 5), (1, 6), (6, 3), (6, 4), (6, 5), (6, 6)}

In [39]:
possible_connections - connections

{(2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6)}

In [54]:
possible_connections

{(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [55]:
list(possible_connections)

[(6, 4),
 (1, 3),
 (2, 6),
 (3, 3),
 (4, 6),
 (6, 6),
 (4, 5),
 (4, 4),
 (1, 4),
 (6, 3),
 (1, 5),
 (2, 3),
 (1, 6),
 (4, 3),
 (3, 6),
 (2, 5),
 (3, 4),
 (2, 4),
 (6, 5),
 (3, 5)]

In [57]:
random.choice(list(possible_connections))

(6, 5)

In [5]:
n_list_1 = [0, 1, 2, 3]
n_list_2 = [0, 1, 3]

node_pairs = set()
for x in n_list_1:
    if x in n_list_2:
        node_pairs.add((x, x))
    else:
        node_pairs.add((x, -1))
        
for y in n_list_2:
    if y in n_list_1:
        node_pairs.add((y, y))
    else:
        node_pairs.add((-1, y))

In [6]:
node_pairs

{(0, 0), (1, 1), (2, -1), (3, 3)}

In [8]:
import numpy as np

In [10]:
np.random.choice([1,2,3], 6)

array([2, 2, 2, 2, 3, 2])